@font-face {
  font-family: 'digital';
  src: url(./font/DS-DIGIB.TTF);
}
html {
  font-family: 'digital' !important;
}

body{
  width: 100vw;
  height: 100vh;
  background-image: url(./img/3d-dark-grunge-display-background-with-smoky-atmosphere.jpg);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}