@font-face {
  font-family: 'digital';
  src: url(./font/DS-DIGIB.TTF);
}
html {
  font-family: 'digital' !important;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-position:center;
  background-repeat: no-repeat;
}